.header {
    color: #555555;
}


.headerblock {
   
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;

  
    background-color: transparent; 
    color: #555555;

    box-sizing: border-box;

    display: flex;
    /* display: block; */
    position: absolute;

    flex-shrink: 0;
    /* flex-direction: column; */
    flex-direction: row;


     box-shadow: salmon;
   
    /* 
     Shiv : For testing 
     background-color: #fff; For testing only
     box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12); */

    border: 0;
    border-bottom: 0;
    border-radius: 3px;

    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;

    padding-top: 10px;
    margin-bottom: 0;

    transition: all 150ms ease 0s;
    min-height: 50px;

    z-index: 1029;
}

/*Button Toggle Side Bar*/

.sidebardisplay {
    display: flex;
    position: relative;
    align-items: center;

    min-height: 50px;
    margin-left: auto;
    padding-left: 15px;
    margin-right: auto;
    padding-right: 15px;


    float: left;
    color: #555555;
    padding: 0 0 0 15px;
    display: block;
}


.headerbuttons {

  
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    position: relative;
    align-items: center;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;

    color: rgba(0, 0, 0, 0.87);

   
    min-width: 64px;
    box-sizing: border-box;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial";

    color: #FFF;
    border: none;
  
    min-width: auto;
    min-height: auto;
  
    will-change: box-shadow, transform;
    line-height: 1.42857143;
    white-space: nowrap;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    background-color: #999;
   
    width: 41px;
    height: 41px;
    font-size: 20px;
    min-width: 41px;
    line-height: 1.75;

    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-weight: 400;



    padding: 6px 8px;

}

 .headerbuttons:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
} 


.jss210, .jss210:focus, .jss210:hover {
    color: inherit;
    background: transparent;
    box-shadow: none;
}



.headerbuttons:hover, .headerbuttons:focus {
    color: #FFF;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
    background-color: #999;
}


.headerbuttons svg {
    top: 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    vertical-align: middle;
}

.sidebarbutton, .sidebarbutton:focus, .sidebarbutton:hover {
    color: #999;
    background-color: #FFF;
}

.buttonborder {
    border-radius: 30px;
}




a:active, a:focus, button::-moz-focus-inner, button:active, button:focus, button:hover, input[type="button"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner {
    outline: 0 !important;
}

.sidebarbutton1 {
    width: 20px;
    height: 17px;
}

.svgicon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
}

svg {
    touch-action: none;
}

svg {
    touch-action: none;
}

.headerbarlabel {
    flex: 1;
    color: inherit;
    margin: 0 !important;
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 30px;
    padding-top: 0.625rem;
    border-radius: 3px;
    text-transform: none;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 0.625rem;
}



.jss218 {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
}




/* 
Dashboard */

.headericons {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}


.endbutton {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}


.jss71 {
    display: none;
}